body{
    background-color: #ffd3e1;
}
nav {
    color: #1b6ca8;
    text-align: center;
    font-size: 30px;
    }
    ul {
        list-style-type: none;
        }
    li {
        text-align: center;
    }
    a {
        text-decoration: none; 
        color: #1b6ca8; 
    }
    h1 { 
        text-align: center;
        color: #0a97b0;
        font-size: 50px;

      }
      